{% extends "header.html" %}
{% load static %}
{% block title %}Daftarkan Warga{% endblock %}

{% block content %}
        <div class="row">
        	<div class="col-xs-12 col-md-12">
        		<div style="font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 100px;">
        			<center>
        			<h2>Masukan Biodata Warga Baru </h2>
                	<form action="savependuduk" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <br>
                    <input type='submit' value='Submit'>

                	</form>
                    </center>
           		</div>
        	</div>
        
        </div>

        <div class="row">
        	<div class="col-xs-12 col-md-12">
        		<center><a href="{% url 'daftarpositif' %}"><button class="button" style="background-color:  #6FCF97; color:white;margin-left: auto;margin-right: auto;margin-top: 50px;">Daftar Warga Positif</button></a></center>
           	</div>
        	</div> 
{% endblock %}