{% extends "header.html" %}
{% load static %}
{% block title %}Jumlah Penduduk Awal{% endblock %}

{% block content %}
        <div class="row">
        	<div class="col-xs-12 col-md-12">
        		<div style="font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 200px;">
                    <center>
                    <h1>Masukan Jumlah Penduduk Mula-Mula</h1>
                	<form action="savejumlah" method="POST">
                    {% csrf_token %}
                    {{formjumlah.as_p}}
                    <br>
                    <input type='submit' value='Submit' >

                	</form>
                    </center>
           		</div>
        	</div>
        
        </div>
{% endblock %}