{% extends "header.html" %}
{% load static %}
{% block title %}Rating{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center" style="margin-top: 5%;">
        <div class="col-md-12">
            <h3>Hasil Rating</h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card" style="width:100%;">
                <ul class="list-group list-group-flush">
                {% for rating in info_rating %}
                  <li class="list-group-item">
                    <p>Nama : {{ rating.username }}</p>
                    <p>Rating yang diberikan : {{ rating.rating }}</p>
                  </li>
                {% endfor %}
                </ul>
              </div>
        </div>
    </div>
</div>
{% endblock %}


