{% extends "header.html" %}
{% load static %}
{% block title %}Simulasi Covid{% endblock %}

{% block content %}
<div class=container>
<form class="border border-light p-5" action="#!">

    <p class="h4 mb-4 text-center">Daftarkan Warga</p>

    <!-- Jumlah Penduduk -->
    <input type="text" id="jumlahPenduduk" name="jumlahPenduduk" class="form-control mb-4" placeholder="Jumlah Penduduk">

    <div class="form-row mb-4">
        <div class="col">
            <!-- Nama -->
            <input type="text" id="namaLengkap" name="namaLengkap" class="form-control" placeholder="Nama Lengkap">
        </div>
        <div class="col">
            <!-- Usia -->
            <input type="text" id="usia" name="usia" class="form-control" placeholder="Usia">
        </div>
    </div>

    
    <!-- Alamat -->
    <input type="text" id="alamat" name="alamat" class="form-control mb-4" placeholder="Alamat">
    
    <label style="text-align: left;">Jenis Kelamin</label>
    <div class="form-row">
        <div class="col">
            <!-- Jenis Kelamin -->
            <select class="form-control mb-4" id="jenisKelamin" name="jenisKelamin">
                <option>Laki-laki</option>
                <option>Perempuan</option>
            </select>
        </div>
    </div>


    <!-- Status Covid -->
    <label>Status Covid</label>
    </br>
    <div class="form-check-inline">
        <label class="form-check-label" for="radio1">
          <input type="radio" class="form-check-input" id="radio1" name="positif" value="option1">Positif
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label" for="radio2">
          <input type="radio" class="form-check-input" id="radio2" name="negatif" value="option2">Negatif
        </label>
      </div>
    

    <!-- Sign up button -->
    <div class="text-center">
    <button class="btn btn-successn" type="submit" style="background-color: #6FCF97;color: white;margin-top: 32px;">Tambahkan Warga</button>
    </div>

</form>
</div>
{% endblock %}